.selected {
	background-color: #f3f4f6;
	border-radius: 8px;
	
}
.none{
	background-color: transparent;
}
.cat{
	width: 100%;
	margin: 10px 20px;
	/* padding: 4px 0; */
	/* padding: 2px 0; */
	text-align:center;
}
div p{
	color: #5c626a;
	padding: 6px 0;
}
li{
	list-style:none;
	cursor: pointer;
}