@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  --color-ivory: #d3bdb0;
  --color-dark_ivory: #c1ae9f;
  --color-khaki: #89937c;
  --color-redbrown: #d3bdb0;
  --color-purple: #69385c;
}
/* base */
h1{
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style:oblique;
  font-variation-settings:
  "wdth" 900;
}

p{
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* font ex */
  /* font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "width" 100; */


/* mobile view */

@media screen and (max-width: 767px) {

  *{
    
  }
}

/* tablet view */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  
}

/* pc view */

@media screen and (min-width: 1024px) {
  .course {
    width: 767px;
    margin: auto;
  }
}

